<h1>Name of person for Registration</h1>
<p>
The H.I. Conference includes a light lunch and afternoon tea.<br/>
Campout forms must be completed and returned by 14th December 2011, as places are limited.<br/>
 Your email address is requested for Youth Program and Campout registrations.<br/>
Current ECKANKAR ID will be required for some sessions.
</p>
<p>
Please enter the registration details one at a time for each person in your family or group
</p>

<%= render 'form' %>

<%= link_to 'Edit', new_name_path(@name) %>
<%= link_to 'Back', names_path %>
