<h1>EAS Events & Reservations Admin </h1>
<p>Find this page in app/views/admin/index.html.erb</p>
<p>
      <a href="http://reservations002.herokuapp.com/" >Home on Heroku</a><br />
      <a href="http://reservations002.herokuapp.com/products/new" >New Product</a><br />
      <a href="http://reservations002.herokuapp.com/attendees/new" >New Attendee</a><br />
      <a href="http://reservations002.herokuapp.com/payments/new" >New Payment</a><br />
      <a href="http://reservations002.herokuapp.com/eas_types/new" >NewCategory</a><br />
      <a href="http://reservations002.herokuapp.com/new" >New user</a><br />
      <a href="http://reservations002.herokuapp.com/eas_types" >View Categories</a><br />
      <a href="http://reservations002.herokuapp.com/payments" >View Payments</a><br />
      <a href="http://reservations002.herokuapp.com/attendees" >View Attendees</a><br />
      <a href="http://reservations002.herokuapp.com/products" >View Products</a><br />
      <a href="http://reservations002.herokuapp.com/users" >View users</a>
</p>
<p>    
      === EAS Reservations menus on Localhost === <br/>
      <a href="http://localhost:3000/" >Home on localhost</a><br />
      <a href="http://localhost:3000/products/new" >New Product</a><br />
      <a href="http://localhost:3000/attendees/new" >New Attendee</a><br />
      <a href="http://localhost:3000/payments/new" >New Payment</a><br />
      <a href="http://localhost:3000/eas_types/new" >NewCategory</a><br />
      <a href="http://localhost:3000/users/new" >New user</a><br />
      <a href="http://localhost:3000/eas_types" >View Categories</a><br />
      <a href="http://localhost:3000/payments" >View Payments</a><br />
      <a href="http://localhost:3000/attendees" >View Attendees</a><br />
      <a href="http://localhost:3000/products" >View Products</a><br />
      <a href="http://localhost:3000/users" >View users</a>
      
</p>

</body>
</html>
