<h1>New Event Listing for Front Page</h1>
Entries are for front page of site only, they do not affect the reservation booking system<br/><br/>
<%= render 'form' %>

<%= link_to 'Back', products_path %>
